lib/objectdb-2.8.1.jar/META-INF/objectdb_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- objectdb configuration schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.0">

	<xs:annotation>
		<xs:documentation>
			Copyright (c) 2012 ObjectDB Software. All rights reserved. 
    </xs:documentation>
	</xs:annotation>

  <xs:simpleType name="size">
    <xs:restriction base="xs:string">
    	<xs:pattern value="([0-9])+(mb|m|kb|k)?"/>
    </xs:restriction>
  </xs:simpleType>
  
	<xs:element name="objectdb">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="general">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="temp">
								<xs:complexType>
									<xs:attribute name="path" use="required" />
									<xs:attribute name="threshold" use="required" type="size" />
								</xs:complexType>
							</xs:element>
							<xs:element name="network">
								<xs:complexType>
									<xs:attribute name="inactivity-timeout" use="required" type="xs:integer" />
								</xs:complexType>
							</xs:element>
							<xs:element name="url-history"  minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="size" use="required" type="xs:integer" />
									<xs:attribute name="user" use="required" type="xs:boolean" />
									<xs:attribute name="password" use="required" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="log">
								<xs:complexType>
									<xs:attribute name="path" use="required" />
									<xs:attribute name="max" use="required" type="size" />
									<xs:attribute name="stdout" use="required" type="xs:boolean" />
									<xs:attribute name="stderr" use="required" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="log-archive">
								<xs:complexType>
									<xs:attribute name="path" use="required" />
									<xs:attribute name="retain" use="required" type="xs:integer" />
								</xs:complexType>
							</xs:element>
							<xs:element name="logger" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" use="required" />
									<xs:attribute name="level" use="required">
									  <xs:simpleType>
									    <xs:restriction base="xs:token">
									      <xs:enumeration value="off"/>
									      <xs:enumeration value="fatal"/>
									      <xs:enumeration value="error"/>
									      <xs:enumeration value="info"/>
									      <xs:enumeration value="warning"/>
									      <xs:enumeration value="trace"/>
									      <xs:enumeration value="debug"/>
									    </xs:restriction>
									  </xs:simpleType>
								  </xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="database" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="size">
								<xs:complexType>
									<xs:attribute name="initial" use="required" type="size" />
									<xs:attribute name="resize" use="required" type="size" />
									<xs:attribute name="page" use="required" type="size" />
								</xs:complexType>
							</xs:element>
							<xs:element name="recovery">
								<xs:complexType>
									<xs:attribute name="enabled" use="required" type="xs:boolean" />
									<xs:attribute name="sync" use="required" type="xs:boolean" />
									<xs:attribute name="max" use="required" type="size" />
									<xs:attribute name="path" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="recording">
								<xs:complexType>
									<xs:attribute name="enabled" use="required" type="xs:boolean" />
									<xs:attribute name="sync" use="required" type="xs:boolean" />
									<xs:attribute name="path" use="required" />
									<xs:attribute name="mode" use="required">
									  <xs:simpleType>
									    <xs:restriction base="xs:token">
									      <xs:enumeration value="all"/>
									      <xs:enumeration value="write"/>
									    </xs:restriction>
									  </xs:simpleType>
								  </xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="locking" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="version-check" use="required" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="processing">
								<xs:complexType>
									<xs:attribute name="cache" use="required" type="size" />
									<xs:attribute name="max-threads" use="required" type="xs:integer" />
									<xs:attribute name="synchronized" use="optional" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="index-update" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="enabled" use="required" type="xs:boolean" />
									<xs:attribute name="priority" use="required" type="xs:integer" />
								</xs:complexType>
							</xs:element>
							<xs:element name="query-cache">
								<xs:complexType>
									<xs:attribute name="results" use="required" type="size" />
									<xs:attribute name="programs" use="required" type="xs:integer" />
								</xs:complexType>
							</xs:element>
							<xs:element name="extensions" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="drop" use="optional" type="xs:string" />
									<xs:attribute name="memory" use="optional" type="xs:string" />
								</xs:complexType>
							</xs:element>
							<xs:element name="activation" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" use="required" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="entities" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="enhancement">
								<xs:complexType>
									<xs:attribute name="agent" use="required" type="xs:boolean" />
									<xs:attribute name="reflection" use="required">
									  <xs:simpleType>
									    <xs:restriction base="xs:token">
									      <xs:enumeration value="error"/>
									      <xs:enumeration value="warning"/>
									      <xs:enumeration value="ignore"/>
									      <xs:enumeration value="force"/>
									    </xs:restriction>
									  </xs:simpleType>
								  </xs:attribute>
 									<xs:attribute name="output" use="optional" type="xs:string" />
								</xs:complexType>
							</xs:element>
							<xs:element name="cache">
								<xs:complexType>
									<xs:attribute name="ref" use="required">
										<xs:simpleType>
									    <xs:restriction base="xs:token">
									      <xs:enumeration value="weak"/>
									      <xs:enumeration value="soft"/>
									      <xs:enumeration value="strong"/>
									    </xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="purge" use="optional" type="xs:boolean" />
									<xs:attribute name="level2" use="required" type="size" />
								</xs:complexType>
							</xs:element>
							<xs:element name="fetch" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="hollow" use="optional" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="persist" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="serialization" use="required" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="cascade-persist">
								<xs:complexType>
									<xs:attribute name="always" use="required">
									  <xs:simpleType>
									    <xs:restriction base="xs:token">
									      <xs:enumeration value="true"/>
									      <xs:enumeration value="false"/>
									      <xs:enumeration value="auto"/>
									    </xs:restriction>
									  </xs:simpleType>
								  </xs:attribute>
									<xs:attribute name="on-persist" use="required" type="xs:boolean" />
									<xs:attribute name="on-commit" use="required" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="dirty-tracking">
								<xs:complexType>
									<xs:attribute name="details" use="optional" type="xs:boolean" />
									<xs:attribute name="arrays" use="required" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="schema" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="package" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="class" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="field" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
																<xs:attribute name="name" use="required" type="xs:string" />
																<xs:attribute name="new-name" use="required" type="xs:string" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="name" use="required" type="xs:string" />
												<xs:attribute name="new-name" use="optional" type="xs:string" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" use="required" type="xs:string" />
									<xs:attribute name="new-name" use="optional" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="server" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="connection">
								<xs:complexType>
									<xs:attribute name="port" use="required" type="xs:integer" />
									<xs:attribute name="max" use="required" type="xs:integer" />
								</xs:complexType>
							</xs:element>
							<xs:element name="data">
								<xs:complexType>
									<xs:attribute name="path" use="required" />
									<xs:attribute name="replicated-path" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="embedded-server" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="enabled" use="required" type="xs:boolean" />
								</xs:complexType>
							</xs:element>
							<xs:element name="replication" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="url" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="users" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="user" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="dir" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="quota" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="directories" use="required" type="xs:integer" />
															<xs:attribute name="files" use="required" type="xs:integer" />
															<xs:attribute name="disk-space" use="required" type="size" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="path" use="required" />
												<xs:attribute name="permissions" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="username" use="required" />
									<xs:attribute name="password" use="required" />
									<xs:attribute name="admin" type="xs:boolean" />
									<xs:attribute name="ip" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="ssl" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="server-keystore" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="password" use="required" />
									<xs:attribute name="path" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="server-truststore" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="password" use="required" />
									<xs:attribute name="path" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="client-keystore" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="password" use="required" />
									<xs:attribute name="path" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="client-truststore" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="password" use="required" />
									<xs:attribute name="path" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="enabled" use="required" type="xs:boolean" />
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
